@import "../../../shared/style/variable";
@import "../../../shared/style/button";
@import "../../../shared/style/mixins";
@import "../../../shared/style/reset";

main {
  width: 900px;
  margin: auto;
  margin-top: 30px;
  #main-card{
      label{
          padding-left: 10px
      }
    #header-card{
      @extend %header-card;
      justify-content: center;
    }
    #first-line{
        @extend %flex-complete;
        margin-bottom: 15px;
    }
    #list-service{
        #list-service-header{
            display: flex;
            justify-content: center
        }
        #list-service-details{
            @extend %flex-complete;
            #amount{
                width: 50px;
                height: 40px;
                padding: 5px;
            }
            #valueUnit{
                width: 150px;
                height: 40px;
                padding: 5px;      
            }
        }
    }
  }
}

#header-list {
@extend %header-card;
height: 30px;
justify-content: center;
}




