<div id="main-div">
    <div id="secondary-div">
        <p-card>
            <form [formGroup]="formulario">
                <div id="first-line">

                    <div class="p-col-12 p-md-5">
                        <label for="basic">Cliente</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <p-dropdown [options]="clients$" (ngModelChange)="clientBudgeting()"
                                formControlName="_idClient" optionLabel="name" optionValue="_id"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <label for="basic">Data Entrada</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                            <p-calendar formControlName="dateEnter" dateFormat="dd/mm/yy" inputId="basic">
                            </p-calendar>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <label for="basic">Previsão de Entrega</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                            <p-calendar formControlName="DateDelivery" dateFormat="dd/mm/yy" inputId="basic">
                            </p-calendar>
                        </div>
                    </div>
                </div>
                <div>
                    <p-card>
                        <div class="p-grid">
                            <div class="p-col">
                                <div class="box">
                                    <h5>Endereço</h5>
                                    {{ client$?.address?.street }} - {{ client$?.address?.district }} <br>
                                    {{ client$?.address?.city }} - {{ client$?.address?.UF }} - {{
                                    client$?.address?.zipCode }}
                                </div>
                            </div>
                            <div class="p-col">
                                <h5>Telefone</h5>
                                <div class="box" *ngFor="let tel of client$?.phone">
                                    {{ tel?.phoneNumber }} - {{ tel?.social }} <br>
                                </div>
                            </div>
                        </div>
                    </p-card>

                    <!--  lista de serviços  -->
                    <p-card>
                        <div formArrayName="service">
                            <div id="header-list">
                                Relação de Serviços
                            </div>
                            <div *ngFor="
                                let forServico of ServiceFormControl.controls;
                                let i = index
                                " [formGroupName]="i">
                                <div class="p-grid p-fluid">
                                    <div class="p-field p-col-12 p-md-1">
                                        <p-inputNumber formControlName="amount">
                                        </p-inputNumber>
                                    </div>

                                    <div class="p-field p-col-12 p-md-3">
                                        <p-dropdown [options]="typeServices$" formControlName="typeService"
                                            optionLabel="typeService"></p-dropdown>
                                    </div>

                                    <div class="p-field p-col-12 p-md-2">
                                        <p-inputNumber formControlName="valueUnit" mode="currency" currency="BRL"
                                            locale="pt-BR">
                                        </p-inputNumber>
                                    </div>

                                    <div class="p-field p-col-12 p-md-2">
                                        <p-inputNumber formControlName="valueAmount" mode="currency" currency="BRL"
                                            locale="pt-BR">
                                        </p-inputNumber>
                                    </div>

                                    <div class="p-field p-col-12 p-md-2">
                                        <button (click)="adcionarServico()" pButton pRipple type="button"
                                            icon="pi pi-tags" class="p-button-rounded"></button>

                                        <button style="margin-left: 10px;" (click)="removerServico(i)"
                                            *ngIf="ServiceFormControl.length > 1" pButton pRipple type="button"
                                            icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-card>

                </div>
            </form>
        </p-card>
    </div>
</div>