<main>
    <p-card id="main-card">
        <ng-template pTemplate="header">
            <div id="header-card">
                <div>
                    <p id="p-title">Orçamento de prestação de serviços</p>
                </div>
            </div>
        </ng-template>
        <form [formGroup]="formulario">
            <div id="first-line">

                <label for="client">Cliente</label>
                <div class="p-inputgroup">
                    <p-dropdown
                        style="min-width: 350px;"
                        id="client"
                        [options]="clients$"
                        (ngModelChange)="clientBudgeting()"
                        formControlName="_idClient"
                        placeholder="Cliente"
                        optionLabel="name"
                        optionValue="_id">
                    </p-dropdown>
                </div>

                <label for="dateEnter">Data Entrada</label>
                <div class="p-inputgroup">
                    <p-calendar
                        id="dateEnter"
                        formControlName="dateEnter"
                        dateFormat="dd/mm/yy"
                        inputId="basic">
                    </p-calendar>
                </div>

                <label for="DateDelivery">Previsão de Entrega</label>
                <div class="p-inputgroup">
                    <p-calendar
                        id="DateDelivery"
                        formControlName="DateDelivery"
                        dateFormat="dd/mm/yy"
                        inputId="basic">
                    </p-calendar>
                </div>

                <ng-container *ngIf="client$">
                    <p-divider></p-divider>
                    <div id="address-client">
                        <div class="p-grid">
                            <div class="p-col">
                                <div class="box">
                                    <p>Endereço</p>
                                    {{ client$?.address?.street }} - {{ client$?.address?.district }} <br>
                                    {{ client$?.address?.city }} - {{ client$?.address?.UF }} - {{
                                    client$?.address?.zipCode }}
                                </div>
                            </div>
                            <div class="p-col">
                                <p>Telefone</p>
                                <div class="box" *ngFor="let tel of client$?.phone">
                                    {{ tel?.phoneNumber }} - {{ tel?.social }} <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                </ng-container>
            </div>

            <!--  lista de serviços  -->
            <p-card id="list-service">
                <div formArrayName="service">
                    <div id="list-service-header" style="margin-bottom: 20px;">
                        Relação de Serviços
                    </div>
                    <div *ngFor="
                            let forServico of ServiceFormControl.controls;
                            let i = index"                            
                        [formGroupName]="i"
                        id="list-service-details">
                        <div  class="p-field p-float-label p-col-12 p-md-1">
                            <span class="p-float-label">
                                <p-inputNumber 
                                    id="amount"
                                    type="number"
                                    formControlName="amount"
                                    pInputText>
                                    </p-inputNumber>
                                <label for="amount">Qtd</label>
                                
                            </span>

                            <span class="p-field p-float-label p-col-12 p-md-2">
                                <p-dropdown
                                    [options]="typeServices$"
                                    formControlName="typeService"
                                    placeholder="Lista de Serviços"
                                    optionLabel="typeService"
                                    optionValue="typeService">
                                </p-dropdown>
                            </span>

                            <span class="p-field p-float-label p-col-12 p-md-2">
                                <p-inputNumber
                                    id="valueUnit"
                                    inputStyle="width:150px"
                                    formControlName="valueUnit"
                                    mode="currency"
                                    currency="BRL"
                                    (onBlur)="totalUnitario()"
                                    locale="pt-BR"
                                    styleClass="width: 150px;">
                                </p-inputNumber>
                                <label for="valueUnit">Valor Unit</label>
                            </span>

                            <span class="p-field p-float-label p-col-12 p-md-2">
                                <div>
                                    <p-inputNumber
                                        formControlName="valueAmount"
                                        mode="currency"
                                        currency="BRL"
                                        locale="pt-BR">
                                    </p-inputNumber>
                                </div>
                            </span>

                            <div class="p-field p-float-label p-col-12 p-md-2">
                                <button
                                    (click)="adcionarServico()"
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-tags"
                                    class="p-button-rounded">
                                </button>

                                <button
                                    style="margin-left: 10px;"
                                    (click)="removerServico(i)"
                                    *ngIf="ServiceFormControl.length > 1"
                                    pButton
                                    pRipple
                                    type="button"
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </form>
    </p-card>
</main>