#header-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #16D6E0;
}

#main-div{
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}