<main>
    <div id="main-div">
        <p-card id="main-card">
            <form [formGroup]="formulario">
                <p-card >
                    <h2>{{ pageTitle }}</h2>
                    <div class="p-formgroup-inline">
                        <div class="p-field">
                            <label for="typeService" class="p-sr-only">Tipo de Serviço</label>
                            <input id="typeService" formControlName="typeService" type="text" pInputText
                                placeholder="Tipo de Serviço...">
                        </div>
                        <div class="p-field">
                            <label for="descriptionService" class="p-sr-only">Descrição do Serviço</label>
                            <input id="descriptionService" formControlName="descriptionService" type="text" pInputText
                                placeholder="Descrição do Serviço...">
                        </div>
                        <div>
                        <button pButton pRipple [disabled]="formulario.invalid" (click)="onSubmit()" type="button" label="{{ txtBtn }}"></button>
                        <button pButton pRipple style="margin-left: 5px;"  (click)="clearFields()" type="button" label="Limpar"></button>
                    </div>
                    </div>
                </p-card>
            </form>
            <div style="margin-top: 10px;">
                <p-card>
                    <app-type-service-list></app-type-service-list>
                </p-card>
            </div>
        </p-card>
    </div>
</main>